<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Forum</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <p>Logged in as <span sec:authentication="name">Username</span> <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form></p>
        
        <div th:each="forum : ${forums}">
            <h1>Welcome to <span th:text="${forum.name}">Title</span></h1>
            <div th:each="forumcategory : ${forum.forumCategories}">
                <h2 th:text="${forumcategory.category}">Category</h2>
                <ul>
                    <li th:each="subforum : ${forumcategory.subForums}">
                    <a th:href="@{/forum/{id}(id=${subforum.id})}" th:text="${subforum.subject}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>