<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title th:text="${topic.subject}">Topic</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <p>Logged in as <span sec:authentication="name">Username</span> <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form></p>
        <a th:href="@{/forum}">Back to Forums</a>
        
        <div th:each="message : ${topic.messages}">
            <h4><span th:text="${message.username}">User</span> wrote on <span th:text="${#calendars.format(message.date,'yyyy-MM-dd HH:mm')}">Date</span></h4>
            <p th:text="${message.message}">Message</p>
        </div>
        
    </body>
</html>