<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title th:text="${topic.subject}">Topic</title>
        <meta charset="UTF-8" />
    </head>
    <body>       

        <div sec:authorize="isAnonymous()">
            <p><a th:href="@{/login}">Login</a> or <a th:href="@{/register}">Register</a></p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <p>Logged in as <span sec:authentication="name">Username</span> <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form></p>
        </div>
        <a th:href="@{/forum}">Back to Forums</a>
        <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/topic/{id}/users(id = ${topic.id})}" >Users who have written to this topic</a>
        </div>
        <h3 th:text="${topic.subject}">Subject</h3>
        <div th:each="message : ${topic.messages}">
            <h4><span th:text="${message.username}">User</span> wrote on <span th:text="${#calendars.format(message.date,'yyyy-MM-dd HH:mm')}">Date</span></h4>
            <p th:text="${message.message}">Message</p>
            <div sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')">
                <form th:action="@{/topic/{topicId}/{id}(topicId=${topic.id}, id=${message.id})}" th:method="DELETE">
                    <input name="delete_message" type="submit" value="Delete"/>
                </form>
            </div>
        </div>
        
        <div sec:authorize="hasAnyAuthority('ADMIN','MODERATOR','USER')">
            <h3>Add a new message:</h3>
            <form action="#" th:action="@{/topic/{id}(id=${topic.id})}" th:object="${message}" th:method="POST">
                <textarea rows = "10" cols = "100" th:field="*{message}"></textarea><br/>
                <input name="add_message" type="submit" value="Add"/>
                <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message Error</p>
            </form>
        </div>
        
    </body>
</html>